footer{
    width: 100%;
    height: auto;
    background-color: #1A1A1A;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

footer .sitemap{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 75px 0;
    flex-direction: row;

    width: 60%;
    height: uato;
}

footer .sitemap .part{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 20px;
    width: 30%;
    height: 100px;
}

footer .sitemap .part .title{
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 16px;
    text-align: start;
    text-transform: uppercase;

}

footer .sitemap ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

footer .sitemap ul li{
    margin-bottom: 8px;
}

footer .sitemap ul li a{
    color: #c8c8c8;
    font-size: 12px;
    font-weight: 400;
    text-decoration: none;
}


.desc-fot{
    width: 40%;
    margin-top: 50px;
}

.desc-fot p{
    color: #c8c8c8;
    font-size: 10px;
    font-weight: 400;
    margin-bottom: 16px;
    text-align: center;
}



.brand-fot{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 50px;
    flex-direction: column;
}

.brand-fot img{
    width: 50px;
    height: 50px;
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

.brand-fot p{
    color: #c8c8c8;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
}

@media only screen and (max-width: 1024px){
    footer .sitemap{
        width: 80%;
        margin-bottom: 100px;
    }

    footer .sitemap .part{
        width: 100%;
        margin: 0;
    }

    footer .sitemap .part .title{
        margin-bottom: 8px;
    }

    footer .sitemap ul li{
        margin-bottom: 4px;
    }

    .desc-fot{
        width: 80%;
    }

    .brand-fot{
        width: 80%;
    }

    
}